S3method(CIradius,EA)
S3method(CIradius,Q4)
S3method(CIradius,SO3)
S3method(angle,EA)
S3method(angle,Q4)
S3method(angle,SO3)
S3method(axis2,EA)
S3method(axis2,Q4)
S3method(axis2,SO3)
S3method(mean,EA)
S3method(mean,Q4)
S3method(mean,SO3)
S3method(median,EA)
S3method(median,Q4)
S3method(median,SO3)
S3method(sum_dist,EA)
S3method(sum_dist,Q4)
S3method(sum_dist,SO3)
export(CIradius)
export(EA)
export(Q4)
export(Q4.SO3)
export(SO3)
export(SO3.EA)
export(SO3.Q4)
export(angle)
export(as.EA)
export(as.Q4)
export(as.SO3)
export(axis2)
export(cayley_kappa)
export(dcayley)
export(dfisher)
export(dhaar)
export(dist.EA)
export(dist.Q4)
export(dist.SO3)
export(dvmises)
export(eyeBall)
export(fisher_kappa)
export(genR)
export(id.EA)
export(id.Q4)
export(id.SO3)
export(is.SO3)
export(plot.SO3)
export(project.SO3)
export(rcayley)
export(rfisher)
export(rhaar)
export(rvmises)
export(sum_dist)
export(vmises_kappa)
exportClasses(EA)
exportClasses(Q4)
exportClasses(SO3)
