export(EAtoSO3)
export(HartleyL1)
export(MantonL2)
export(QtoSO3)
export(SumDist)
export(arith.mean)
export(eyeBall)
export(genR)
export(is.SOn)
export(projMatrix)
export(rcayley)
export(riedist)
export(rmedian)
export(rvmises)
export(tLogMat)
