export(EAtoSO3)
export(QtoSO3)
export(SumDist)
export(angle_axis)
export(dfisher)
export(eyeBall)
export(genR)
export(is.SO3)
export(mean.Q4)
export(mean.R3)
export(mean.SO3)
export(median.Q4)
export(median.R3)
export(median.SO3)
export(project.SO3)
export(rar)
export(rcayley)
export(riedist.Q4)
export(riedist.SO3)
export(rvmises)
